Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.2
Flask-WTF==1.1.1
Flask-Migrate==4.0.5
Flask-SocketIO==5.3.6
WTForms==3.0.1
email-validator==2.1.0
werkzeug==2.3.7
reportlab==4.0.7
python-dotenv==1.0.0
pytz==2023.3
Pillow==10.1.0
python-engineio==4.8.0
python-socketio==5.10.0
simple-websocket==1.0.0
gevent==23.9.1
gevent-websocket==0.10.1
gunicorn==21.2.0
python-dotenv==1.0.0
psycopg2-binary==2.9.9
